</main>
<footer class="site-footer">
    <div class="site-identity">
      <!-- Add a dynamic year to the footer using JS. -->
      <p><a href="#">Copyright ©
        <%= new Date().getFullYear() %></a> Made With 💖| All Right Reserved</p>
    </div>
</footer>
</body>
</html>