<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/main.css">
  <title>BLog Web Application</title>
</head>

<body>
  <main>
    <header class="site-header">
        <div class="site-identity">
          <h1><a href="#">We📜Blog</a></h1>
        </div>
        <nav class="site-navigation">
            <ul class="nav">
              <li><a href="/">Home</a></li>
              <li><a href="/home">Create new posts</a></li>
              <li><a href="/view">View all posts</a></li>
            </ul>
        </nav>
    </header>
